RewriteEngine On
RewriteBase                         /imageviewer/page/
RewriteCond %{REQUEST_FILENAME}     !-f
RewriteCond %{REQUEST_FILENAME}     !-d
RewriteRule (.*)                    index.php?image=$1.png [QSA,L]
