<div class="modal fade" id="embedImage" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Embed image</h4>
			</div>
			<div class="modal-body">

				<h4>Options</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" id="includeLink" class="options"> include link to this
						page
					</label>
				</div>
				<br>
				<h4>HTML
					<small><a role="button" data-clipboard-target="#htmlCode" id="copyHtml">copy to clipboard</a>
					</small>
				</h4>
				<pre id="htmlCode">&lt;img src="{{current_img}}"&gt;</pre>
				<br>
				<h4>BBCode
					<small><a role="button" data-clipboard-target="#bbCode" id="copyBbcode">copy to clipboard</a>
					</small>
				</h4>
				<pre id="bbCode">[img]{{current_img}}[/img]</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>