<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#202020">
<meta property="og:type" content="website">
<meta property="og:image" content="{{current_url}}">
<meta property="og:title" content="{{title}} &ndash; {{title_filename}}">
<meta property="og:url" content="{{pageURL}}" />

<link href="page/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="page/assets/css/main.min.css" rel="stylesheet" type="text/css">

{{#theme}}
	<link href="{{theme}}" rel="stylesheet" type="text/css">
{{/theme}}

<link rel="icon" href="page/assets/img/favicon.png" type="image/png" />

<title>{{title}} &ndash; {{title_filename}}</title>